<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> header}}
        <p>This site was created by awesome bane, it uses data from mapbox.com, and darksky.net</p>
        <img class="portrait" src="/img/download.jpeg" alt="">
        <p> created by {{ name }}</p>
        {{> footer}}
    </body>
</html>